<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-RU-Compatuble" content="ie=edge">
	<link rel="manifest" href="/site.webmanifest">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<title>{% block title %}{% endblock %}</title>
    <!--<link rel="stylesheet" href="layout_v2.css" /> Это у меня работает у меня -->
    <link type="text/css" href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" />
</head>
<body>
    <header>
        <!-- <img src="{{ url_for('static', filename='img/logo.jpg') }}" width="80px" alight="left"> -->
        <h2 href="#">МАИ Инвестиции</h2>
        <ul class="nav justify-content-end">
            <li class="nav-item">
            <a class="nav-link" href="#">О нас</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Валюта</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Личный кабинет</a>
            </li>
        </ul>
    </header>
    {% block sign %}

	{% endblock %}
</body>
</html>